# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\epics\Desktop\School Stuff 2020\Fall 2020\Object Oriented\Projects\GeometryCalculator_sbandoli\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
